@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

.text-shadow {
    text-shadow: 2px 2px black;
}

.white-text-shadow {
    text-shadow: 2px 2px white;
}

.white-text {
    color: white;
}

.logo-margin {
    margin-left: 5%;
}

.image-formatting img {
    height: auto;
    max-height: 50%;
    width: 50%;
    max-width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 5px solid white;
    float: right;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.logged-in-user {
    margin-top: 3px;
    margin-right: 3px;
}

p {
    font-family: "Teko";
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

h3, h4, h5 {
    font-family: "Teko";
}

input, label, select, option {
    font-family: "Teko";
    font-size: 20px;
}

.char-names {
    padding-top: 10px;
    padding-bottom: 10px;
}

.char-details {
    padding-left: 10px;
}

.ocx-heaven-title {
    color: black;
    font-size: 100px;
    text-shadow: white 8px 8px;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
}

.make-relative {
    position: relative;
}

.make-absolute {
    position: absolute;
}

.span-width {
    width: 100%;
    margin: 0;
}

.responsive-image-extra-format {
    margin-left: 0;
    padding: 0;
    margin-right: 0;
}

#darken-image {
    filter: brightness(50%);
}

.floating-left {
    float: left;
    max-width: 45%;
}

.floating-right {
    float: right;
    max-width: 45%;
}

/*------------------------------ Media Queries --------------------------------*/
@media screen and (max-width: 850px) {
    .logo-remove-margin {
        margin-left: 0;
    }

    .ocx-heaven-title {
        font-size: 30px;
        text-shadow: white 2px 2px;
    }

    .image-formatting img {
        height: auto;
        max-height: 100%;
        width: 95%;
        max-width: 95%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 5px solid white;
        left: 10px;
        translate: -50%;
        clear: both;
        text-align: center;
    }
}