.text-shadow {
    text-shadow: 2px 2px black;
}

.white-text {
    color: white;
}

.logo-margin {
    margin-left: 5%;
}

.image-formatting img {
    height: 30rem;
    width: auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*------------------------------ Media Queries --------------------------------*/
@media screen and (max-width: 850px) {
    .logo-remove-margin {
        margin-left: 0;
    }
}