@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

.text-shadow {
    text-shadow: 2px 2px black;
}

.white-text-shadow {
    text-shadow: 2px 2px white;
}

.white-text {
    color: white;
}

.logo-margin {
    margin-left: 5%;
}

.image-formatting img {
    max-height: 25rem;
    height: auto;
    width: auto;
    max-width: 25rem;
    margin-right: 10px;
    border: 5px solid white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.logged-in-user {
    margin-top: 3px;
    margin-right: 3px;
}

p {
    font-family: "Teko";
    font-size: 18px;
}

h3, h4, h5 {
    font-family: "Teko";
}

input, label, select, option {
    font-family: "Teko";
    font-size: 20px;
}

.char-names {
    padding-top: 10px;
    padding-bottom: 10px;
}

.char-details {
    padding-left: 10px;
}

/*------------------------------ Media Queries --------------------------------*/
@media screen and (max-width: 850px) {
    .logo-remove-margin {
        margin-left: 0;
    }
}