{% extends "base.html" %}
    {% block content %}
        <h4 class="center">Characters</h4>

        <main class="container s12 m4 l8 center">
            <hr><br>
            {% for character in characters %}
                <div class="card grey lighten-5 center">
                    <div class="row left-align">
                        {% if character.title %}
                        <h4>{{ character.name }}, {{ character.title }}</h5>
                        {% else %}
                        <h4>{{ character.name }}</h5>
                        {% endif %}
                        <div class="right image-formatting">
                            <img src="{{ character.image }}" alt="">
                        </div>
                        <p class="flow-text">Species: {{ character.species }}</p>
                        {% if character.gender == "Male" %}
                        <p class="flow-text">Gender: <i class="fa fa-male"></i></p>
                        {% else %}
                        <p class="flow-text">Gender: <i class="fa fa-female"></i></p>
                        {% endif %}
                        <p class="flow-text">Age: {{ character.age }}</p>
                        <p class="flow-text">Hair: {{ character.hair }}</p>
                        <p class="flow-text">Physique: {{ character.build }}</p>
                        <p class="flow-text">Talents: {{ character.talents }}</p>
                    </div>
                </div>
            {% endfor %}
        </main>

    {% endblock %}