{% extends "base.html" %}
    {% block content %}
        <h3 class="center">Characters <i class="fa fa-users"></i></h3>

        <main class="container s12 m4 l8 center">
            <hr><br>
            {% for character in characters %}
                <div class="card blue-grey lighten-5 center">
                    <div class="row left-align">
                        {% if character.title %}
                        <h4 class="center-align white-text-shadow">{{ character.name }}, {{ character.title }}</h5>
                        {% else %}
                        <h4 class="center-align white-text-shadow">{{ character.name }}</h5>
                        {% endif %}
                        <div class="right image-formatting">
                            <img src="{{ character.image }}" alt="">
                        </div>
                        <p><i class="fas fa-crown"></i> Rank: {{ character.rank }}</p>
                        {% if character.species %}
                        <p>Species: {{ character.species }}</p>
                        {% else %}
                        <p>Species: Unknown</p>
                        {% endif %}
                        {% if character.gender == "Male" %}
                        <p>Gender: <i class="fa fa-male"></i></p>
                        {% elif character.gender == "Female" %}
                        <p>Gender: <i class="fa fa-female"></i></p>
                        {% else %}
                        <p>Gender: <i class="fa fa-transgender"></i></p>
                        {% endif %}
                        {% if character.age %}
                        <p>Age: {{ character.age }}</p>
                        {% else %}
                        <p>Age: Unknown</p>
                        {% endif %}
                        <p>Hair: {{ character.hair }}</p>
                        <p>Physique: {{ character.build }}</p>
                        <p>Talents: {{ character.talents }}</p>
                        {% if character.backstory %}
                        <p>Backstory: {{ character.backstory }}</p>
                        {% else %}
                        <p>Backstory: Unknown</p>
                        {% endif %}
                        {% if character.authored_by %}
                        <p>Authored by: {{ character.authored_by }}</p>
                        {% endif %}
                    </div>
                    {% if character.authored_by == session["user"] %}
                    <div class="row">
                        <button class="btn waves-effect green darken-1 center" type="submit" name="edit">Edit
                        </button>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </main>

    {% endblock %}